.boton-modo {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .boton-modo:hover {
    background-color: #555;
  }
  
  /* Estilos para el modo oscuro */
  .modo-oscuro-activado {
    background-color: #333;
    color: #fff;
  }
  
  /* Estilos para el ícono de noche */
  .fa-moon {
    color: #fff;
  }
  
  /* Estilos para el ícono de día */
  .fa-sun {
    color: #f1c513;
  }